
@font-face {
  font-family: Azonix;
  src: url('../fonts/Azonix.otf');
}

.box-side{
	background: #01ACBE 0% 0% no-repeat padding-box;
	height: 80%;
	border-left: 0px;
	border-top-right-radius: 110px; /* 100px of height + 10px of border */
    	
    	border-bottom-right-radius: 100px;
	width: 50%;
}

body{
	background: #141414 0% 0% no-repeat padding-box;
	

}
#drop:hover{
	 color: #01ACBE;	
}


header{
    font-size: 17px;
    display: flex;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background: #141414 0% 0% no-repeat padding-box;
    position: fixed;
    z-index: 999;
}

header ul{
    position: absolute;
    display: flex;
    left: 800px;
    list-style: none;
    padding: 5px;
    
}

header ul li{
    padding: 10px 8px;
    margin: 5px;
}

header ul li a{
    text-decoration: none;
    color: white;
}

header ul li a:hover{
    text-decoration: none;
    color: #01ACBE;
}

header ul li .active{
    text-decoration: none;
    color: #01ACBE;
}

header span{
    padding: 15px 12px;
}

header span a{
    color: white;
    text-decoration: none;
}

header span a:hover{
    text-decoration: none;
    color: #01ACBE;
}




#project-text{
	font-family: Azonix;
	letter-spacing: 0px;
	color: white;
	opacity: 1;
	font-size: 4vw;
	
}
.card-text{
	font-size: 1.5vw !important;

}
.card-title{
	font-size: 2vw !important;

}

.card{
	background: #141414 0% 0% no-repeat padding-box;

}

#card-right{
	background: white;
	
}
.expand{
	height: 350px;
	overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: .5;
  transition: .5s ease;
  background-color: #01ACBE;
  }
.no-gutters:hover .overlay {
  opacity: 0;
}
.togclass{
	background: white;
	width: 100%;
  	z-index: 2;
  	opacity: 1 !important;
  	height: 100vh;
  	overflow: scroll;
}


.icon:hover{
	height: 1.62vw !important;
	margin-top: .15vw !important;
	margin-right:.25vw !important;
	padding:0!important;
}
.icon1:hover{
	width: 1.75vw !important;
	margin-right: .26vw !important;
	margin-top: 0!important;
	
}


.icon{
	z-index: 15;
	height: 1.4vw!important;
	border: 0;
	margin-right:.5vw!important;
	margin-top: .4vw!important;
}
.icon1{
	z-index: 15;
	width: 1.5vw;
	border: 0;
	color: red;
	
	 margin-right:.5vw;
	 margin-top: .25vw;
}


.bg{	pointer-events: none;
	width: 77vw;
	left: 11vw;
	top: 4vh;
	z-index: 999;
	position: fixed;
	opacity: 0.05;
}

#contact{
  padding-top: 20px;
  padding-left: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-size:medium;
  font-weight: bold;
}
#wh{
  text-decoration: none;
  color:white;
}
}
#social{
  font-family: Arial, Helvetica, sans-serif;
  font-size:medium;
  font-weight: bold;
  color: white;
}
.column {
  float: left;
  width: 25%;
  height: 150px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.invisible{
	opacity: 0;
}

footer{
  align-items: center;
  background-color: #01ACBE;
  display: flex;
  height: 130px;
  font-size: 14px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 177px;
}

footer #sec-1{
  background-color: #01ACBE;
  left: 150px;
  position: absolute;
  list-style: none;
}

footer #sec-1 li{
  background-color: #01ACBE;
  padding: 3px 0px;
}

footer #sec-2{
  background-color: #01ACBE;
  left: 375px;
  position: absolute;
  list-style: none;
}

footer #sec-2 li{
  background-color: #01ACBE;
  padding: 3px 0px;
}

.fa-facebook, .fa-twitter, .fa-instagram{
  background-color: #01ACBE;
  color: white;
  font-size: 16px;
  margin: 0px 30px;
}

footer #sec-3{
  background-color: #01ACBE;
  left: 650px;
  position: absolute;
  list-style: none;
}

footer #sec-3 li{
  background-color: #01ACBE;
  padding: 3px 0px;
}

footer #sec-4{
  background-color: #01ACBE;
  left: 1000px;
  position: absolute;
  list-style: none;
}

footer #sec-4 li{
  background-color: #01ACBE;
  padding: 3px 0px;
}

.card1{
	background: url("images/iris2.JPG");
	background-size:cover; 

}
.card2{
	background: url("images/iris5.png");
	background-size:cover; 

}
.card3{
	background: url("images/bionicopter1.png");
	background-size:cover; 

}
.card4{
	background: url("images/fpv.jpg");
	background-size:cover; 

}
.card5{
	background: url("images/skyrush.jpg");
	background-size:cover; 

}
.card6{
	background: url("images/boeing.JPG");
	background-size:cover; 

}
.card7{
	background: url("images/tfd1.jpg");
	background-size:cover; 

}
.card8{
	background: url("images/ion.JPG");
	background-size:cover; 
	

}
.card9{
	background: url("images/gd2.JPG");
	background-size:cover; 

}
.card10{
	background: url("images/bionicopter1.jpg");
	background-size:cover; 

}
.card11{
	background: url("images/how.JPG");
	background-size:cover; 

}
.card12{
	background: url("images/iris2.JPG");
	background-size:cover; 

}
.card13{
	background: url("images/iris2.JPG");
	background-size:cover; 

}
@media (max-width: 1198px){
.expand{
	overflow: hidden;
	height: 300px;
}
.togclass{
	background: white;
	width: 100%;
  	z-index: 2;
  	opacity: 1 !important;
  	height: 100vh;
  	overflow: scroll;
}
}
@media (max-width: 990px){
.expand{
	overflow: hidden;
	height: 250px;
}	
.togclass{
	background: white;
	width: 100%;
  	z-index: 2;
  	opacity: 1 !important;
  	height: 100vh;
  	overflow: scroll;
}
}
@media (max-width: 766px){
.expand{
	overflow: hidden;
	height: 160px;
}	
.togclass{
	background: white;
	width: 100%;
  	z-index: 2;
  	opacity: 1 !important;
  	height: 100vh;
  	overflow: scroll;
}
}
@media(max-width: 572px){
.expand{
	overflow: hidden;
	height: 29vw;
}	
.togclass{
	background: white;
	width: 100%;
  	z-index: 2;
  	opacity: 1 !important;
  	height: 100vh;
  	overflow: scroll;
}
}
@media (max-width: 600px) {
	#project-text{
	font-family: Azonix;
	letter-spacing: 0px;
	color: white;
	opacity: 1;
	font-size: 20px;
}

img{
	max-width: 280px;

}

.card-text{

	font-size: 2.5vw !important;

}
.card-title{
	font-size: 3vw !important;

}

.icon:hover{
	height: 4vw!important;
	margin-top: 2px !important;
	margin-right:2px !important;
	padding:0!important;
}
.icon1:hover{
	width: 4vw !important;
	margin-right: 8px !important;
	margin-top: 0!important;
	
}


.icon{
	z-index: 15;
	height: 3vw !important;
	border: 0;
	color: red;
	margin-right: 2vw;
}
.icon1{
	z-index: 15;
	width:2vw!important;
	border: 0;
	color: red;
	margin-right: 10px;
}

.invisible1{

opacity: 0;
}	
.invisible{
opacity: 1;
}  	
}

